<h2 class="text-3xl">Task 1</h2>

<div class="my-7">
	<p class="text-lg mb-2">Enter your registration number:</p>
	<input type="text" name="regno" value="{{form['regno']}}" class="p-2 outline outline-blue-800 rounded-xl" hx-trigger="keyup[which===13]" hx-post="/task_change?task=task1" hx-include="[name='type']" hx-swap="innerHTML"/> <br>
	{% if error %}<span class="text-red-800">{{ error.regno }}</span><br>{% endif %}
	
	<p class="text-lg mt-7 mb-1">Mode:</p>
	<select class="p-2" name="type" id="type" hx-trigger="change" hx-post="/task_change?task=task1" hx-include="[name='regno']" hx-swap="innerHTML">
	<option value="AOI" {% if form['type'] == "AOI" %}selected{%endif%}>AOI</option>
	<option value="OAI" {% if form['type'] == "OAI" %}selected{%endif%}>OAI</option>
	<option value="NAND" {% if form['type'] == "NAND" %}selected{%endif%}>NAND</option>
	<option value="NOR" {% if form['type'] == "NOR" %}selected{%endif%}>NOR</option>
	</select>
</div>

<div class="mt-7">
<pre><code class="language-verilog" id="code">
{% if code %}{{code}}{% endif %}
</code></pre><script>hljs.highlightAll();</script>
</div>
